{{#if logged_in}}   
    {{#if posts}}
    <h2 id="homepage-title">Posts</h2>
    {{#each posts}}
    <div class="homePge-card card-body">
        <div class="card-header home-card-header">
            <a id="home-post-link" class="card-title" href="/posts/{{id}}">{{title}}</a>
            <p class="card-subtitle mb-2 text-muted home-user">Posted by {{user.username}} on {{format_date date_created}}</p>
        </div>
        </br>
        <p id="home-post-content" class="card-text">{{content}}</p>
    </div>
    {{/each}}
    {{else}}
    <p>No posts have been created yet.</p>
    {{/if}}
{{else}}
<div class="welcomeMessage text-center">
    <p><a href="/login">Log in</a> or <a href="/signup">sign up</a> to enter blog!</p>
</div>
{{/if}}